/*-----------------------------------------
    Settings Content
-----------------------------------------*/

@use "../DiscordDarkThemeVars" as *;

/* Hide most content */
.theme-light .children-rWhLdy *:not(.marginTop8-1DLZ1n, .marginTop8-1DLZ1n *),
.theme-light .children-rWhLdy .title-3sZWYQ,
.theme-light .children-rWhLdy .labelRow-16e77k,
.theme-light .children-rWhLdy .divider-3573oO,
.theme-light .children-rWhLdy .container-2_Tvc_.marginTop20-3TxNs6,
.theme-light .contentColumn-2hrIYH .sectionTitle,
.theme-light .contentColumn-2hrIYH .divider-3573oO,
.theme-light .contentColumn-2hrIYH .marginTop40-i-78cZ:nth-last-child(1),
.theme-light .children-rWhLdy .marginTop8-1DLZ1n:nth-child(4)
{
    display: none;
}

/* Make stuff visible */
.theme-light .tools-3-3s-N *
{
    visibility: visible;
}

/* Correct Page Scrolling */
.theme-light .contentColumn-2hrIYH
{
    height: 0px;
}

/* Hide Title Text */
.theme-light .title-3sZWYQ:not(.theme-light .bd-settings-title)
{
    font-size: 0;
    height: 23.3px;
    z-index: 1;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Headers */
.theme-light .title-3sZWYQ:not(.theme-light .bd-settings-title):before
{
    font-size: 20px;
    font-weight: 600;
    font-family: var(--font-display);
}

/* Discord Theme */
.theme-light .title-3sZWYQ:not(.bd-settings-title):before
{
    content: "Discord Theme";
}

/* Theme Instructions Header */
.theme-light .userSettingsSecurity-3IYeMF .title-3sZWYQ:before
{
    content: "Theme Instructions";
    background-color: var(--background-primary);

    position: relative;
    bottom: 82px;
}

/* Theme Instructional Instructions */
.theme-light .userSettingsSecurity-3IYeMF .title-3sZWYQ:after
{
    content: "This theme requires its users to enable Dark Theme in the Discord Theme Tab to use!";
    text-align: center;
    white-space: pre;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-primary); 
    color: $text-color;
    background-color: var(--background-primary);

    position: relative;
    bottom: 82px;
    // bottom: 71px;
}
.theme-light .userSettingsSecurity-3IYeMF .sectionTitle-2vauyC:before
{
    content: 'Go to Discord Theme and then select the "Dark" option to unlock the client.';
    text-align: center;
    white-space: pre;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font-primary); 
    color: $text-color;
    background-color: var(--background-primary);

    position: absolute;
    top: 118px;
    // bottom: 71px;
}

/* Theme Options */
.theme-light [role="radiogroup"]
{
    // padding-bottom: 100vh;

    position: relative;
    bottom: 0px;
}

/* Radio Bar Length */
.theme-light [role="radiogroup"] .radioBar-bMNUI-
{
    height: 46px;
}

/* Radio Control Tutorial Pulse */
.theme-light .item-26Dhrx:nth-child(1) .radioBar-bMNUI-
{
    -webkit-animation: pulse 1s infinite;
}
