/*-----------------------------------------
    Sidebar
-----------------------------------------*/

/* Make things visible */
.theme-light .sidebarRegionScroller-3MXcoP,
.theme-light .sidebarRegion-VFTUkN,
.theme-light .item-PXvHYJ,
.theme-light .socialLinks-3jqNFy *,
.theme-light .info-1VyQPT *,
.theme-light .side-8zPYf6 .header-2RyJ0Y:nth-child(1),
.theme-light .side-8zPYf6 .separator-gCa7yv:nth-last-child(3),
.theme-light .side-8zPYf6 .separator-gCa7yv:nth-last-child(5)
{
    visibility: visible;
}

/* Make things invisible that weirdly are not */
.theme-light .bd-sidebar-header .header-2RyJ0Y
{
    visibility: hidden!important;
}

/* Don't display these things to avoid issues with Divs */
.theme-light [id="channelTabs-container"],
.theme-light .item-PXvHYJ,
.theme-light .bd-addon-card
{
    display: none;
}

/* Display specific disabled Divs */
.theme-light .button-38aScr[aria-label="User settings"] *,
.theme-light [aria-label="My account"],
.theme-light [aria-controls="appearance-tab"],
.theme-light [aria-controls="themes-tab"],
.theme-light [aria-controls="logout-tab"],
.theme-light .socialLinks-3jqNFy
{
    display: block;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Sidebar Height */
.theme-light .side-8zPYf6
{
    height: 0px;
}

/* Seperator fixer */
.theme-light .side-8zPYf6 .separator-gCa7yv:before
{
    content: "Placeholder";

    font-size: 0px;
    position: relative;
}

/* Fix Social Media Links Position */
.theme-light .side-8zPYf6 .socialLinks-3jqNFy *
{
    position: relative;
    bottom: 2px;
}
.theme-light .side-8zPYf6 .socialLinks-3jqNFy .bd-logo
{
    position: relative;
    top: 1px;
}

/* Disable Default Header Text */
.theme-light .side-8zPYf6 .header-2RyJ0Y
{
    color: transparent;
}

// /* Remove Scrolling from Sidebar */
// .theme-light .sidebarRegionScroller-3MXcoP
// {
//     pointer-events: none;
//     --scrollbar-thin-thumb: transparent;
// }

/* Theme Tab Button Themeing */
.theme-light .item-PXvHYJ
{
    // pointer-events: all;
    width: 190px;
    font-size: 0px;

    // left: 0px;
}

/* Apperance Tab */
.theme-light [aria-controls="appearance-tab"]
{
    position: absolute;
    top: 116px;
}
.theme-light [aria-controls="appearance-tab"]:not(.selected-3s45Ha)
{
    -webkit-animation: pulse 1s infinite;
}

/* Themes Tab */
.theme-light [aria-controls="themes-tab"]
{
    position: absolute;
    top: 150px;
}

/* Log Out Tab */
.theme-light [aria-controls="logout-tab"]
{
    font-size: 16px;

    // position: relative;
    // top: 206px;
}

/* Logout Tab + Social Links */
.theme-light [aria-controls="logout-tab"],
.theme-light .socialLinks-3jqNFy,
.theme-light .sidebarRegion-VFTUkN .info-1VyQPT,
.theme-light .separator-gCa7yv
{
    position: relative;
    bottom: 119px;
}

/* Tabs After */
.theme-light .item-PXvHYJ:before
{
    font-size: 16px;
    color: var(--interactive-normal);

    position: absolute;
}

/* Tabs on hover */
.theme-light .item-PXvHYJ:hover:before
{
    color: var(--interactive-hover);
}

/* Tabs on Active */
.theme-light .item-PXvHYJ:active:before,
.theme-light .item-PXvHYJ.selected-3s45Ha:before
{
    color: var(--interactive-active);
}

/*-------------------------------------------------------------------------------------------------------*/

/* Header */
.theme-light .side-8zPYf6 .header-2RyJ0Y:nth-child(1):before
{
    content: "THEME SETTINGS";
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    color: var(--channels-default);
}

/* Theme Instructions Tab */
.theme-light [aria-label="My account"]:before
{
    content: "Theme Instructions";
}

/* Apperance Tab */
.theme-light [aria-controls="appearance-tab"]:before
{
    content: "Discord Theme";
}

/* Custom Theme Tab */
.theme-light [aria-controls="themes-tab"]:before
{
    content: "Custom Theme";
}
