/*-----------------------------------------
    Sidebar
-----------------------------------------*/

/* Make things visible */
.theme-light .sidebarRegionScroller-3MXcoP,
.theme-light .sidebarRegion-VFTUkN,
.theme-light .item-PXvHYJ
{
    visibility: visible;
}

/* Don't display these things to avoid issues with Divs */
.theme-light [id="channelTabs-container"],
.theme-light .item-PXvHYJ,
.theme-light .bd-addon-card
{
    display: none;
}

/* Display specific disabled Divs */
.theme-light .button-38aScr[aria-label="User settings"] *,
.theme-light [aria-label="My account"],
.theme-light [aria-controls="appearance-tab"],
.theme-light [aria-controls="themes-tab"],
.theme-light [aria-controls="authorized-apps-tab"],
.theme-light [aria-controls="logout-tab"]
{
    display: block;
}

/*-------------------------------------------------------------------------------------------------------*/

/* Remove Scrolling from Sidebar */
.theme-light .sidebarRegionScroller-3MXcoP
{
    pointer-events: none;
    --scrollbar-thin-thumb: transparent;
}

// /* Remove Scrolling from Sidebar */
// .theme-light .sidebarRegion-VFTUkN
// {
//     background-color: var(--background-secondary);

//     width: 100vw;
    
//     position: relative;
//     left: 0;
//     top: 0;
// }

/* Theme Tab Button Themeing */
.theme-light .item-PXvHYJ
{
    pointer-events: all;
    width: 190px;
    font-size: 0px;

    // left: 0px;
}

// /* My Account Tab */
// .theme-light [aria-label="My account"]
// {
//     left: 8px;
// }

/* Authorization Tab */
.theme-light [aria-controls="authorized-apps-tab"]
{
    pointer-events: none;

    position: absolute;
    top: 52px;
}

/* Apperance Tab */
.theme-light [aria-controls="appearance-tab"]
{
    position: absolute;
    top: 116px;
}

/* Themes Tab */
.theme-light [aria-controls="themes-tab"]
{
    position: absolute;
    top: 150px;
}

/* Log Out Tab */
.theme-light [aria-controls="logout-tab"]
{
    font-size: 16px;

    position: absolute;
    top: 200px;
}

/* Tabs After */
.theme-light .item-PXvHYJ:before
{
    font-size: 16px;
    color: var(--interactive-normal);

    position: absolute;
}

/* Tabs on hover */
.theme-light .item-PXvHYJ:hover:before
{
    color: var(--interactive-hover);
}

/* Tabs on Active */
.theme-light .item-PXvHYJ:active:before,
.theme-light .item-PXvHYJ.selected-3s45Ha:before
{
    color: var(--interactive-active);
}

/*-------------------------------------------------------------------------------------------------------*/

/* Header */
.theme-light [aria-controls="authorized-apps-tab"]:before
{
    content: "THEME SETTINGS";
    font-size: 12px;
    font-weight: 700;
    font-family: var(--font-display);
    color: var(--channels-default);
}

/* Theme Instructions Tab */
.theme-light [aria-label="My account"]:before
{
    content: "Theme Instructions";
}

/* Apperance Tab */
.theme-light [aria-controls="appearance-tab"]:before
{
    content: "Discord Theme";
}

/* Custom Theme Tab */
.theme-light [aria-controls="themes-tab"]:before
{
    content: "Custom Theme";
}

/* Footer Divider */
.theme-light [aria-controls="authorized-apps-tab"]:after
{
    content: "";
    background-color: var(--background-modifier-accent);

    width: 172px;
    height: 1px;

    position: fixed;
    top: 215px;
}
