/*-----------------------------------------
    Instructions
-----------------------------------------*/

@use "../DiscordDarkThemeVars" as *;

/* Header Image */
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp svg
{
    background-image: url(https://discord.com/assets/e0989b9d43cd9ca4417b49f4f8fbebc6.svg);
    background-repeat: no-repeat;    

    border-radius: 0;

    width: 404px;
    height: 202px;

    position: absolute;
    right: -134px;
    bottom: 156px;

    visibility: visible;
}

/* Instructions Header */
.theme-light .button-38aScr[aria-label="User settings"]:before
{
    content: "Hold Up!";
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-align: center;

    width: 180px;

    /* Reposition to center of badge */
    position: absolute;
    bottom: 111px;
    
    pointer-events: none;
}

/* Content Global */
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:before,
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:after,
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:hover:after
{
    text-align: center;
    white-space: pre;
    font-size: 16px;
    color: $text-color;

    width: 498px;
    // height: 10px;
    // background-color: red;

    /* Reposition to center of badge */
    position: absolute;
    left: -181px;

    pointer-events: none;
}

/* Text Content */
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:before
{
    content: "This theme requires its users to enable Dark theme in";
    
    bottom: 80px;
}
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:after
{
    content: "Settings in order to use!";

    bottom: 58px;
}
