/*-----------------------------------------
    Instructions
-----------------------------------------*/

@use "../DiscordDarkThemeVars" as *;

/* Instructions Header */
.theme-light .button-38aScr[aria-label="User settings"]:before
{
    content: "Hold Up!";
    color: #fff;
    font-size: 20px;
    font-weight: 600;

    position: absolute;
    bottom: 110px;
    
    pointer-events: none;
}

/* Content Global */
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:before,
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:after,
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:hover:after
{
    text-align: center;
    white-space: pre;
    font-size: 16px;
    color: $text-color;

    width: 498px;
    // height: 10px;
    // background-color: red;

    position: absolute;
    left: -181px;

    pointer-events: none;
}

/* Text Content */
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:before
{
    content: "This theme requires its users to enable Dark Theme in";
    
    bottom: 80px;
}
.theme-light .button-38aScr[aria-label="User settings"] .contents-18-Yxp:after
{
    content: "Settings in order to use!";

    bottom: 60px;
}
