/*-----------------------------------------
    Lock Client
-----------------------------------------*/

/* Hide everything except for whitelisted elements */
.theme-light *
{
    visibility: hidden;
}

/* App Background */
.theme-light .appMount-3lHmkl, body
{
    background-color: var(--background-primary);
}

/* Make things visible */
.theme-light .titleBar-AC4pGV,
.theme-light .titleBar-AC4pGV *,
.theme-light .bd-toast,
.theme-light .bd-error-modal,
.theme-light .button-14-BFJ .contents-18-Yxp,
.theme-light .fullscreenOnMobile-1bD22y,
.theme-light .fullscreenOnMobile-1bD22y *,
.theme-light .floating-window *,
.theme-light .contentColumn-2hrIYH *,
.theme-light .contentRegionScroller-26nc1e,
.theme-light .notice-3bPHh- *,
.theme-light .errorPage-u8SYh4,
.theme-light .errorPage-u8SYh4 *,
.theme-light .container-2lgZY8
{
    visibility: visible;
}

/* Give Titlebar its colour back */
.theme-light .titleBar-AC4pGV
{
    background-color: var(--background-tertiary);
    // margin-top: unset;
    // padding-bottom: 4px;
}

/* Restore Titlebar Resizing */
.theme-light .titleBar-AC4pGV:before
{
    content: "";

    background-color: var(--background-tertiary);
    
    width: 100vw;
    height: 4px;

    position: fixed;
    top: 0;
}

/* Don't let the user click the other buttons at the bottom */
.theme-light .container-3baos1 .flex-1xMQg5 *:not([aria-label="User settings"])
{
    pointer-events: none;
}

/* Discord Wavey Background in reverse */
.theme-light .container-2lgZY8:before
{
    content: "";
    
    background-color: var(--background-primary);
    background-image: url(https://discord.com/assets/86548cb347b5acfb41bcb328c89b9bdc.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: fixed;
    width: 100vw;
    height: 100vh;
}
