/*-----------------------------------------
    Lock Client
-----------------------------------------*/

/* Hide everything except for whitelisted elements */
.theme-light *
{
    visibility: hidden;
}

/* App Background */
.theme-light .appMount-3lHmkl, body
{
    background-color: var(--background-primary);
}

/* Make things visible */
.theme-light .titleBar-AC4pGV,
.theme-light .titleBar-AC4pGV *,
.theme-light .bd-toast,
.theme-light .bd-error-modal,
.theme-light .button-14-BFJ .contents-18-Yxp,
.theme-light .fullscreenOnMobile-1bD22y,
.theme-light .fullscreenOnMobile-1bD22y *,
.theme-light .floating-window *,
.theme-light .contentColumn-2hrIYH *,
.theme-light .contentRegionScroller-26nc1e,
.theme-light .notice-3bPHh- *
{
    visibility: visible;
}

/* Give Titlebar its colour back */
.theme-light .titleBar-AC4pGV
{
    background-color: var(--background-tertiary);
    margin-top: unset;
    padding-bottom: 4px;
}
.theme-light .titleBar-AC4pGV .winButton-iRh8-Z
{
    padding-top: 4px;
    padding-bottom: unset;
}

/* Don't let the user click the other buttons at the bottom */
.theme-light .container-3baos1 .flex-1xMQg5 *:not([aria-label="User settings"])
{
    pointer-events: none;
}
