/**
 * @name Discord Dark Theme Requirement Live
 * @version X.X.X
 * @author Wapour Vave#1388⠀⠀Enable Me Please! ->
 * @authorLink https://github.com/WapourVave
 * @description Require the User to Enable Dark Theme/Disable the theme!
 * @website https://github.com/WapourVave
 * @source https://github.com/WapourVave/Discord-Theme-Requirements
*/

/*-----------------------------------------
-------------------------------------------
      Discord Dark Theme Requirement       
-------------------------------------------
-----------------------------------------*/

// /* External Imports */
// @import "https://wapourvave.github.io/Discord-Global-Things/CSS/WapoursGlobalThings.live.theme.css";
